<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>EduManagerSystem</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>Userservlet</display-name>
		<servlet-name>Userservlet</servlet-name>
		<servlet-class>cn.edu.zucc.ems.servlet.Userservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Userservlet</servlet-name>
		<url-pattern>/Userservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TeacherServlet</display-name>
		<servlet-name>TeacherServlet</servlet-name>
		<servlet-class>cn.edu.zucc.ems.servlet.TeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeacherServlet</servlet-name>
		<url-pattern>/TeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>cn.edu.zucc.ems.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassServlet</display-name>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>cn.edu.zucc.ems.servlet.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/ClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>cn.edu.zucc.ems.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
	

</web-app>